/*用于单据详情的样式文件*/
.doc_main{
	width: 100%;
	margin-top: 20px;
}
.doc_main_left{
	float: left;
	width: 80%;
	border-right: solid 1px #cccccc;
}
.doc_main_right{
	float: left;
	width: 19%;
}
.doc_main_left_table{
	width: 90%;
	margin-left: 5%;
	margin-top: 12px;
}
.chaolian_zuo{
	display: inline-block;
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); 	/* IE 9 */
	-moz-transform:rotate(-90deg); 	/* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
	-o-transform:rotate(-90deg); 	/* Opera */
}
.look_ding_zhi{
	display: inline-block;
	width:30%;
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.gaiYueBdColor{
	background-color: #eaebed;
	width:80px;
	height: 40px;
	text-align: center;
	float:left;
	border:solid 1px #e0e0e0;
	cursor: pointer;
	margin-right:-1px;
	margin-top:-1px;
}
.layui-form-radio{
	margin-right: 2px;
	margin-top: 13px;
}
.bgFFFFFF{
	background-color: #ffffff;
}
.shijiankuaili{
	display: inline-block;
	float: left;
	cursor: pointer;
	position: relative;
}
.sifangkuai{
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	border:solid 1px #e0e0e0;
	text-align: center;
	margin-right:-1px;
	margin-top:-1px;
}
.bgFFFFFFShijianDuan{
	background-color: #eaebed;
}
.ShijianDuanMan{
	display: inline-block;
	font-size: 18px;
	color: #666666;
	position: absolute;
	right: 0px;
	bottom:-3px;
	-webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    transform:scale(0.5);
}
.yixuanshijianduan{
	display:none;
	font-size: 18px;
	color: red;
	position: absolute;
	top: -5px;
	left:-8px;
	-webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -transform:scale(0.5);
    transform:scale(0.5);
}
