/*用于头部的自定义文件*/
.e_header{
	height: 72px;
	width: 100%;
	background-color: #444444;
}
.e_header_left{
	height: 72px;
	width:13%;
	background-color: #333333;
}
.e_header_left img{
	display: inline-block;
	margin:20px 5% 0 5%;
}
.e_header_left span{
	display: inline-block;
	font-size: 20px;
	color: #ffffff;
	height: 72px;
	line-height: 72px;
	font-family: "微软雅黑";
}
.e_header_middle{
	height: 72px;
	width:76%;
}
.e_header_right{
	height: 72px;
	width:11%;
	background-color: #333333;
}
.e_header_right img{
	display: inline-block;
	cursor: pointer;
}
.e_header_right_img_1{
	display: inline-block;
	margin-left: 7%;
	
}
.e_header_right span{
	display: inline-block;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #ffffff;
	margin-left: 4%;
	cursor: pointer;
}
.e_header_right_img_2{
	margin-left: 5%;
	margin-top: 3px;
}
.e_header_middle ul{
	height: 72px;
	margin-left: 15%;
}
.e_header_middle ul li{
	float: left;
	display: inline-block;
	width: 9%;
	height: 100%;
}
.e_header_middle ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-align: center;
}
.e_header_middle ul li a:hover{
	background-color: #6876DA;
}
.e_header_middle ul li a img{
	display: inline-block;
	margin-top: 13px;
}
.e_header_middle ul li a span{
	display: inline-block;
	margin-top: 12px;
	
}

@-moz-keyframes rotate{
    0%{
      -moz-transform:rotate(0deg);
     }
     100%{
       -moz-transform:rotate(180deg);
     }
  }
  @-webkit-keyframes rotate{
    0%{
      -webkit-transform:rotate(0deg);
     }
     100%{
       -webkit-transform:rotate(180deg);
     }
  }
  @keyframes rotate{
    0%{
      transform:rotate(0deg);
     }
     100%{
       transform:rotate(180deg);
     }
  }
  
  @-moz-keyframes rotate2{
    0%{
      -moz-transform:rotate(180deg);
     }
     100%{
       -moz-transform:rotate(0deg);
     }
  }
  @-webkit-keyframes rotate2{
    0%{
      -webkit-transform:rotate(180deg);
     }
     100%{
       -webkit-transform:rotate(0deg);
     }
  }
  @keyframes rotate2{
    0%{
      transform:rotate(180deg);
     }
     100%{
       transform:rotate(0deg);
     }
  }
  
  @-moz-keyframes ulShow{
    0%{
      filter:alpha(opacity=0);          
      -moz-opacity:0;          
      -khtml-opacity: 0;          
      opacity: 0;  
      top: 100px;
     }
     100%{
      filter:alpha(opacity=1);          
      -moz-opacity:1;          
      -khtml-opacity: 1; 
       opacity: 1;
       top: 40px;
     }
  }
  @-webkit-keyframes ulShow{
    0%{
      filter:alpha(opacity=0);          
      -moz-opacity:0;          
      -khtml-opacity: 0;          
      opacity: 0; 
      top: 100px;
     }
     100%{
       filter:alpha(opacity=1);          
      -moz-opacity:1;          
      -khtml-opacity: 1; 
       opacity: 1;
       top: 40px;
     }
  }
  @keyframes ulShow{
    0%{
      filter:alpha(opacity=0);          
      -moz-opacity:0;          
      -khtml-opacity: 0;          
      opacity: 0; 
      top: 100px;
     }
     100%{
       filter:alpha(opacity=1);          
      -moz-opacity:1;          
      -khtml-opacity: 1; 
       opacity: 1;
       top: 40px;
     }
  }
  
  @-moz-keyframes ulHide{
    0%{
      filter:alpha(opacity=1);          
      -moz-opacity:1;          
      -khtml-opacity: 1; 
       opacity: 1;
      top:40px;
     }
     100%{
       filter:alpha(opacity=0);          
      -moz-opacity:0;          
      -khtml-opacity: 0;          
      opacity: 0; 
       top: 100px;
     }
  }
  @-webkit-keyframes ulHide{
    0%{
      filter:alpha(opacity=1);          
      -moz-opacity:1;          
      -khtml-opacity: 1; 
       opacity: 1;
      top: 40px;
     }
     100%{
      filter:alpha(opacity=0);          
      -moz-opacity:0;          
      -khtml-opacity: 0;          
      opacity: 0; 
       top: 100px;
     }
  }
  @keyframes ulHide{
    0%{
      filter:alpha(opacity=1);          
      -moz-opacity:1;          
      -khtml-opacity: 1; 
       opacity: 1;
      top: 40px;
     }
     100%{
       filter:alpha(opacity=0);          
      -moz-opacity:0;          
      -khtml-opacity: 0;          
      opacity: 0;
       top: 100px;
     }
  }
.q_header_img_xuan
{
  -moz-animation:rotate 500ms forwards;
  -webkit-animation:rotate 500ms forwards;
  animation:rotate 500ms forwards;
}

.q_header_img_xuan_2{
	 -moz-animation:rotate2 500ms forwards;
     -webkit-animation:rotate2 500ms forwards;
     animation:rotate2 500ms forwards;
}
.ulShowQu{
	-moz-animation:ulShow 500ms forwards;
  -webkit-animation:ulShow 500ms forwards;
  animation:ulShow 500ms forwards;
}
.ulHideQu{
	-moz-animation:ulHide 500ms forwards;
  -webkit-animation:ulHide 500ms forwards;
  animation:ulHide 500ms forwards;
}
